html {
    box-sizing: border-box;
    font-family: Mulish;
    background-color: #4c5057;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  
  * {
    margin: 0;
    padding: 0;
  }
  
  .top-banner {
    margin-bottom: 30px;
    text-align: center;
    background-color: #1c1d1f;
    height: 100px;
    padding-top: 25px;
    border: solid rgb(0, 0, 0);
    border-radius: 10px;
  }

  h1 {
    color: white;
  }
  
  .top-banner a, .top-banner span 
  {
    display: inline-block;
  }
  
  .top-banner span{
    width: 50vh;
    height: 50px;
    line-height: 28px;
    border-radius: 20px;
  }

  .form-group {
     text-align: center;
     margin-top: 50px;
     font-size: 20px;
     color: white;
  }

  .box {
    background-color: #1c1d1f;
    margin-left: 20%;
    margin-right: 20%;
    display: block;
    border-radius: 50px;
    padding-bottom: 40px;
    margin-top: 30px;
    border: solid rgb(0, 0, 0);
  }

  input {
    background-color: #1c1d1f;
    color: white;
  }

  .btn {
    margin: auto;
    display: block;
    font-size: 33px;
    margin-top: 30px;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: #4c5057;
    border: solid black;
    border-radius: 15px;
    box-shadow: 0 9px #111111;
    padding: 10px;
    color: rgb(255, 255, 255);
   }

   .btn:hover {
    background-color: #4c5057;
   }

   .btn:active {
    background-color: #4c5057;
    box-shadow: 0 5px #000000;
    transform: translateY(4px);
   }

    .text-danger {
     text-align: center;
     margin-top: 30px;
    }

    #result {
      text-align: center;
      margin-top: 75px;
      font-size: 22px;
      color: white;
    }

    #numbers {
        border: 2px solid black;
        border-radius: 4px;
        height: 30px;
        width: 200px;
        padding: 5px;
      }

      .disc {
        font-size: 15px;
        text-align: center;
        color: white;
      }

      .disc2 {
        font-size: 15px;
        text-align: center;
        color: white;
      }

      .disclaimer {
        background-color: #1c1d1f;
        margin-left: 28%;
        margin-right: 28%;
        border-radius: 20px;
        padding: 5px;
        border: solid black;
      }

      .madeBy {
        text-align: center;
        vertical-align: text-bottom;
        position: static;
        font-size: 12px;
      }